/* p {
    margin: 0;
    padding: 0;
} */

ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
}

.card-container {
    height: 500px;
    width: 400px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 2px 6px 30px 0px rgba(0, 0, 0, 0.10)
}

:hover.card-border {
    box-shadow: 2px 6px 30px 0px rgba(0, 0, 0, 0.18)
}

.avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 50px;
    box-shadow: 2px 6px 30px 0px rgba(0, 0, 0, 0.30)
}

:hover.avatar {
    box-shadow: 2px 6px 30px 0px rgba(0, 0, 0, 0.50)
}

.description {
    text-align: center;
}

.stats {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.stats li {
    margin-right: 70px;
    text-align: center;
}

.stats li span {
    display: block;
    margin-bottom: 5px;
}

.name {
    font-size:xx-large;
    font-weight: 700;
}

.tag, 
.location {
    font-size: large;
    color: rgb(120, 120, 120);
}

.stats li:nth-child(3) {
    margin-right: 0;
}

.label {
    color: rgb(120, 120, 120);
}

.quantity {
    font-weight: 700;
}

/* Statistics */

.statistics {
    height: 120px;
    width: 400px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 2px 6px 30px 0px rgba(0, 0, 0, 0.10)
}

/* :hover.statistics {
    box-shadow: 2px 6px 30px 0px rgba(0, 0, 0, 0.18)
} */

.title {
    text-align: center;
    padding-top: 20px;
}

.stat-list {
    display: flex;
    justify-content: center;
}

.stat-list li {
    list-style: none;
    margin-right: 35px;
}

.stat-list li:nth-child(5) {
    margin: 0;
}

.stat-list li span {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.stat-label {
    color: rgb(120, 120, 120);
}

.percentage {
    font-weight: 700;
}

/* Friend List */

.friend-list {
    /* display: flex; */
}

.friend-list .item {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 6px 30px 0px rgba(0, 0, 0, 0.10)
}

.friend-list li {
    display: flex;
}

/* .friend-avatar {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 30px;
    box-shadow: 2px 6px 30px 0px rgba(0, 0, 0, 0.30)
} */

.friend-online {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 30px;
    box-shadow: 2px 6px 30px 0px rgba(1, 254, 22, 0.655)
}

.friend-offline {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 30px;
    box-shadow: 2px 6px 30px 0px rgba(255, 0, 0, 0.655)
}

.status-online {
    color: rgb(0, 185, 0);
}

.status-offline {
    color: red;
}